<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="ASFile" xsi:type="AsyncWrapper" overflowAction="Block" queueLimit="10000" batchSize="1000"
              timeToSleepBetweenBatches="100">
        <target xsi:type="File" name="file" keepFileOpen="true" openFileCacheTimeout="5" archiveNumbering="Date"
                archiveEvery="Day" archiveDateFormat="yyyyMMdd" encoding="utf-8" enableArchiveFileCompression="true"
                fileName="${environment:variable=APPDATA:whenEmpty=${environment:variable=HOME}}/q2g/q2g-con-hypercube-qvx.log"
                archiveFileName="${environment:variable=APPDATA:whenEmpty=${environment:variable=HOME}}/q2g/q2g-con-hypercube-qvx-archive.{#}.zip">
          <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true" quoting="All">
            <column name="time" layout="${date:universalTime=true:format=o}" />
            <column name="level" layout="${uppercase:${level}}"/>
            <column name="message" layout="${replace-newlines:${message}}" />
            <column name="callsite" layout="${callsite:includeSourcePath=true}" />
            <column name="stacktrace" layout="${stacktrace:topFrames=10}" />
            <column name="exception" layout="${replace-newlines:${exception:format=ToString}}"/>
            <column name="connectionId" layout="${mdlc:item=connectionId}" />
          </layout>
        </target>
      </target>
      <target name="Console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
        <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGreen" />
        <highlight-row condition="level == LogLevel.Info"  foregroundColor="White" />
        <highlight-row condition="level == LogLevel.Warn"  foregroundColor="Magenta" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Yellow" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
      </target>
    </targets>
    <rules>
      <!-- add your logging rules here -->
      <logger name="*" minlevel="Warn" writeTo="ASFile"/>
      <!---logger name="*" minlevel="Trace" writeTo="Console"/-->
    </rules>
  </nlog>
</configuration>